* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "MuseoModerno", cursive;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #f3c2ab, #e78020);
  z-index: -2;
}

nav {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 10vh;
  color: white;
  align-items: center;
}

#logo {
  grid-column: 2/4;
  font-size: 36px;
}

.hamburger {
  justify-self: end;
}

section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  /* background: lightblue; */
}

.hero {
  height: 60%;
  width: 100%;
  position: relative;
  z-index: -1;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* margin: 0px 0px 0px 20px; */
}

.headline {
  position: absolute;
  top: 45%;
  left: 10%;
  font-size: 90px;
  transform: translate(-20%, -70%);
  color: white;
  z-index: 3;
}

.hero::after {
  content: "";
  background: black;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

form {
  position: absolute;
  right: 280px;
  top: 120px;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.25rem;
  border: none;
  min-height: 20px;
  background: white;
}

form button {
  color: #d69b64;
  background: white;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #d69b64;
  color: white;
}

.todo-container {
  position: absolute;
  right: 117px;
  top: 170px;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 470px;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(38, 241, 38);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fas.fa-check-square,
.fas.fa-trash {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.7;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
}

.select {
  margin: 1rem;
  position: absolute;
  top: -15px;
  right: -170px;
  overflow: hidden;
  width: 140px;
}

select {
  color: #ff6f47;
  width: 10rem;
  cursor: pointer;
  padding: 0.5rem;
}
.select::after {
  content: "\25BC";
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  background: #ff6f47;
  padding: 0.5rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: #ff6f47;
}

.filter-todo {
  font-family: "MuseoModerno", cursive;
}
