* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 300vh;
  height: 190vh;
  background: linear-gradient(to left, #ba7453, #d1a984);
  z-index: -1;
}

body {
  /* background-image: url("toDO-med.jpg"); */
  /* Photo by Kaboompics .com from Pexels */
  font-family: "MuseoModerno", cursive;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
  /* position: relative;
  left: 600px;
  top: 120px; */
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  left: 400px;
  top: 160px;
}

form,
input,
form button {
  padding: 0.5rem;
  font-size: 1.25rem;
  border: none;
  min-height: 24px;
}

form button {
  color: #d88771;
  background: white;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #d88771;
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
}
